{% extends 'base.html' %}
{% load staticfiles %}
{% block main_left %}
    <style>
        .main_left{
            display: inline;
            margin-left: 2.5%;
            width: 70%;
            height: 500px;
        }
        .main_left_ul{
            width: 70%;
        }
        .main_left span{
            font-size: 14px;
        }
        .main_left p{
            font-size: 18px;
        }
        .views{
            background: url("{% static 'images/browse.png' %}") no-repeat center;
            background-size: 20px 20px;
            padding-left: 20px;
        }
        .count{
            background: url("{% static 'images/comment.png' %}") no-repeat center;
            background-size: 20px 20px;
            padding-left: 20px;
        }
        .starttime{
            background: url("{% static 'images/time.png' %}") no-repeat center;
            background-size: 20px 20px;
            padding-left: 20px;
        }
        .main_left_ul span{

        }

    </style>
    <div class="main_left">
        <ul class="main_left_ul">
                {% for article in articles %}
                    <li>
                        <h3><a id="{{ article.article_id }}" href="{% url 'articles:detail' article.article_id %}">{{ article.article_title }}</a></h3>
                        <p><a id="{{ article.article_id }}" href="{% url 'articles:detail' article.article_id %}">{{ article.article_introduce }}</a></p>
                        <span class="starttime"></span><span >{{ article.article_date }}</span>
                        <span class="count"></span><span ><span >{{ article.article_comment_count }}</span>
                        <span class="views"></span><span ><span >{{ article.article_views }}</span>
                        <span>点赞数:{{ article.article_like_count }}</span>
                    </li>
                {% endfor %}
            </ul>
    </div>
{% endblock %}